.rodape{
    background-color: var(--background-tertiary-color);
}

.rodape .background-img{
    background: url("/img/rodape-mobile.png") no-repeat;
    background-size: cover;
    margin-top: 80px;
}

.rodape__conteudo{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 8px;
    width: 312px;
}

.rodape__conteudo .descricao__texto{
    color: var(--text-secondary-color);
    font-size: var(--font-size-mobile);
}

.rodape__conteudo__descricao-logo{
    width: 162px;
    height: 40px;
    margin: 32px 0 8px;
}

.rodape__conteudo__redes .descricao__texto{
    margin-top: 32px;
}

.rodape__conteudo__redes-icones img{
    width: 32px;
    height: 32px;
    margin: 16px 8px;
}
