.hero-img {
  height: 400px;
  width: 100%;
  background: url("/img/hero-mobile.jpg") no-repeat;
  background-size: cover;
}

.hero .descricao__texto {
  padding: 5rem 3.4rem 1rem;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .hero-img {
    height: 620px;
    background: url("/img/hero-tablet.jpg") no-repeat;
    background-size: cover;
  }

  .hero .descricao__texto {
    padding: 3.5rem 3.75rem;
    font-size: var(--font-size-subheading);
  }
}

@media screen and (min-width: 1024px) {
  .hero-img {
    background: url("/img/hero-desktop.jpg") no-repeat;
    background-size: cover;
  }

  .hero .descricao__texto {
    padding: 3.5rem 7.5rem;
    font-size: var(--font-size-title-small);
    line-height: 46px;
  }
}

@media screen and (min-width: 1920px) {
  .hero .descricao__texto {
    padding: 5.5rem 18rem;
    font-size: var(--font-size-title-large);
    line-height: 58px;
  }
}
