.depoimentos__conteudo {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 40px;
}

.depoimentos__conteudo-cabecalho .descricao__texto {
  font-size: var(--font-size-mobile);
  line-height: 24px;
}

.depoimentos__conteudo-img {
  height: 86px;
  width: 86px;
}

.depoimentos__conteudo-rodape {
  margin: 8px 26px 0 0;
  display: flex;
  gap: 24px;
  align-items: center;
}

.depoimentos__conteudo-perfil {
  margin-bottom: 8px;
  font-size: var(--font-size-text);
  font-weight: var(--font-weight-bold);
  width: 176px;
  height: 32px;
}

.depoimentos__conteudo-avalicao {
  color: var(--secondary-color);
  font-size: var(--font-size-title-small);
}

@media screen and (min-width: 1440px) {
  .depoimentos__conteudo {
    flex-direction: row;
    /* justify-content: space-around; */
  }

  .depoimentos__conteudo-cabecalho .descricao__texto {
    font-size: var(--font-size-text);
    line-height: 32px;
  }
}
