/* --------------------- Secao Pacotes Hero --------------------- */

.pacotes__hero {
  background: url(../../img/Banner-Japao.png) no-repeat;
  background-size: cover;
  background-position: -440px; /*Este position e para manter a imagem cetralizada */
  width: 100%;
  height: 460px;
  position: relative;
  z-index: 1;
  color: var(--text-secondary-color);
}

.pacotes__hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.pacotes__hero-descricao {
  display: flex;
  flex-direction: column;
  gap: 102px;
  height: 330px;
  margin-left: 40px;
}

.pacotes__hero-descricao .secao__titulo,
.pacotes__hero-descricao .descricao__texto {
  width: 312px;
  margin: 0 24px;
  padding: 0;
  text-align: left;
}

.pacotes__hero-descricao .secao__titulo {
  height: 138px;
  margin-bottom: 32px;
}

.pacotes__hero-descricao h2 {
  font-size: var(--font-size-title-extra-large);
  line-height: 59px;
  text-align: left;
}

.pacotes__hero-descricao hr {
  margin: 16px 0;
  width: 180px;
}

.pacotes__hero-descricao .descricao__texto {
  height: 160px;
}

/* --------------------- Secao Pacotes Pagamentos --------------------- */

.pacotes__pagamentos__descricao a {
  width: 100%;
}

.pacotes__pagamentos__imagens {
  margin-top: 24px;
}

.castelo {
  background: url("../../img/Montagem-japao.png");
  background-size: cover;
}

.torre {
  background: url("../../img/Montagem-japao-2.png");
  background-size: cover;
}

.pessoa {
  background: url("../../img/Montagem-japao-3.png");
  background-size: cover;
  height: 182px;
  grid-column: span 2;
}

/* --------------------- Medias Querys --------------------- */

@media screen and (min-width: 768px) {
  .pacotes__hero {
    background: url(../../img/Banner-Japao-tablet.png);
    background-size: cover;
    background-position: center;
    height: 620px;
  }

  .pacotes__hero-descricao .secao__titulo,
  .pacotes__hero-descricao .descricao__texto {
    width: 430px;
    text-align: left;
    margin: 0;
    padding: 0;
  }

  .pacotes__hero-descricao .secao__titulo {
    width: 500px;
    margin: 200px 0 0 60px;
  }

  .pacotes__hero-descricao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (min-width: 1024px) {
  .pacotes__hero {
    background: url(../../img/Banner-Japao.png);
    background-size: cover;
    background-position: center;
  }

  .pacotes__hero-descricao {
    width: 60%;
    margin-left: 50px;
  }

  .pacotes__hero-descricao .secao__titulo,
  .pacotes__hero-descricao .descricao__texto {
    width: 579px;
  }

  .pacotes__hero-descricao .secao__titulo {
    margin: 210px 0 0 0;
  }
}

@media screen and (min-width: 1440px) {
  .pacotes__hero-descricao {
    margin: 0;
  }
}
