.rodape {
  background-color: var(--background-tertiary-color);
  display: flex;
  flex-direction: column;
  text-align: center;
}

.rodape .descricao__texto {
  color: var(--text-secondary-color);
  font-size: var(--font-size-mobile);
  margin: 8px;
}

.rodape__conteudo__descricao-logo {
  width: 162px;
  height: 40px;
  margin: 32px 0 8px;
}

.rodape__conteudo__redes .descricao__texto {
  margin-top: 32px;
}

.rodape__conteudo__redes img {
  width: 32px;
  height: 32px;
  margin: 16px 8px;
}

/* Aqui eu tentei criar um hover com a paleta 
   de cores de cada rede social 
*/

.whatsapp:hover {
  box-shadow:
    0 12px 24px rgba(28, 240, 74, 0.977),
    0 0 15px rgb(12, 164, 121);
  transition: ease 0.3s;
}

.instagram:hover {
  box-shadow:
    0 12px 24px rgba(240, 148, 51, 0.977),
    0 0 30px rgb(188, 24, 136);
  transition: ease 0.3s;
}

.twitter:hover {
  box-shadow:
    0 12px 24px rgba(49, 28, 240, 0.5),
    0 0 15px rgb(12, 164, 121);
}

@media screen and (min-width: 768px) {
  .rodape__conteudo .descricao__texto {
    font-size: var(--font-size-text);
  }
}

@media screen and (min-width: 1440px) {
  .rodape {
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
  }

  .rodape__conteudo__descricao {
    text-align: start;
  }

  .rodape__conteudo__redes {
    margin-top: 50px;
  }
}
