.ofertas__cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.ofertas__card {
  height: 288px;
  padding: 24px 16px;
  box-sizing: border-box;
  border-radius: 16px;
  text-align: center;
  color: var(--text-secondary-color);

  overflow: hidden; /* Corta a imagem quando ela crescer */
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  cursor: pointer;
  position: relative;
}

.ofertas__card:hover {
  /* Faz o card subir levemente */
  transform: translateY(-8px);
  /* Adiciona um brilho externo (Glow) que combina com o tema luxo */
  box-shadow:
    0 12px 24px rgba(49, 28, 240, 0.5),
    0 0 15px rgb(12, 164, 121);
  /* Essa escolha de cores foi no olho
       acertei de primeira, me sinto realizado
    */
}

.ofertas__card.japao {
  background: url("../../img/bg-card-japao.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
}

.ofertas__card.san-andreas {
  background: url("../../img/bg-card-san-andreas.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
}

.ofertas__card.paraiba {
  background: url("../../img/bg-card-paraiba.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
}

.ofertas__card.manaus {
  background: url("../../img/bg-card-manaus.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
}

/* Aqui nos criamos uma sombra na imagem, 
   sem ela a imagem fica muito brilhosa.
   Em resumo, escurecemos ela, para 
   deixar o texto mais evidente */
.ofertas__card.japao::before,
.ofertas__card.san-andreas::before,
.ofertas__card.paraiba::before,
.ofertas__card.manaus::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.ofertas__card-cabecalho {
  margin-bottom: 24px;
  /* 
        Esse margin bottom é para criar um espaçamento entre o título e o botao, 
        para que o botão não fique colado no título.
    */

  /* 
        Este container pode ser flexbox
        mantendo todos os itens centralizados, e com um gap de 24px entre eles,
        para criar um espaçamento entre o título e o botão.
        Utilizando um display flex, com flex-direction column, align-items center e gap 24px.
    */
}

.ofertas__card-texto {
  font-size: var(--font-size-text);
  font-weight: var(--font-weight-regular);
}

.ofertas__card-titulo {
  font-size: var(--font-size-title-large);
  font-weight: var(--font-weight-bold);
  margin-top: 8px;
}

.ofertas__card-titulo span {
  font-size: var(--font-size-title-small);
  margin-top: 24px;
  display: inline-block;
}

@media screen and (min-width: 768px) {
  .ofertas__cards {
    flex-flow: row wrap;
    justify-content: space-around;
  }
}

@media screen and (min-width: 1024px) {
  .ofertas__card {
    width: 380px;
    height: 300px;
  }

  .ofertas__card-titulo {
    font-size: var(--font-size-title-extra-large);
  }

  .ofertas__card-titulo span {
    font-size: var(--font-size-title-large);
  }
}

@media screen and (min-width: 1440px) {
  .ofertas__cards {
    row-gap: 50px;
  }

  .ofertas__card {
    width: 550px;
    height: 350px;
  }
}

@media screen and (min-width: 1920px) {
  .ofertas__cards {
    width: 1250px;
    margin: 0 auto;
  }
}
